<div class="main-container">
    <div class="container">
        <div class="welcome">
            <h1>welcome to Net<span>Club</span> this is new Social Media Website.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Sunt quisquam praesentium reiciendis dicta cupiditate 
                voluptatem, nemo corrupti ducimus fugiat id doloremque
                qui aliquam dolorem laudantium. Mollitia ducimus totam
                ex aliquid.</p>
        </div>
        <div class="log-reg">
            <div class="switch">
                <a (click)="login()">Log in</a>
                <h2>|</h2>
                <a (click)="signup()">Sign Up</a>
            </div>
            <div class="login-form">
                <input type="email" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
                <a href="#" (click)="password_rec()">Forger your password?</a>
                <button class="loggin">Log in</button>
            </div>
            <div class="signup-form">
                <input type="text" placeholder="Enter Username">
                <input type="email" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
                <input type="password" placeholder="Confirm your password">
                <button class="loggin">Log in</button>
            </div>
            <div class="recovery">
                <input type="email" placeholder="Enter your active Email">
                <button>Send Code</button>
            </div>
        </div>  
    </div>
</div>