<section class="main">

    <section class="background">
        <div class="profile">
            <img src="../../assets/profile-media/user.png" alt=""></div>
    </section>

    <section class="user-page">
        <p>Mr User</p>
       <div class="btn">
           <button>Post</button>
           <button>Friends</button>
           <button>About Me</button>
           <button>Photos</button>
       </div>
    </section>

    <section class="display-info">

    </section>

</section>