.main{
    background-color: var(--grey);
    height: 80vh;
    display: flex;
    .tools{
        height: 80vh;
        width: 3.5%;
        border-right: 2px solid black;
        transition: 0.5s;
        &:hover{
            width: 10%;
            .new-post-tool p {
               display: block;
            }
        }
        .new-post-tool{
            margin-top: 5%;
            display: flex;
            border: 2px solid red;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            img{
                cursor: pointer;
            }
            p{
                display: none;
            }
        }
    }
    .posts{
        height: 80vh;
        width: 75%;
        .new-post{
            border: 2px solid red;
            width: 70%;
            margin: auto;
            margin-top: 7%;
            height: 400px;
        }
    }
    .convos{
        height: 80vh;
        width: 20%;
        border-left: 2px solid black;
    }
}