<div class="about">
    <div class="about-soon">
        <div class="group">
            <div class="group">
                <img src="../../assets/about-media/img2.jpg" alt="arve" (click)="arve()">
            </div>
            <div class="group">
                <img src="../../assets/about-media/img1.jpg" alt="photo"  (click)="toko()">
            </div>
            <div class="group">
                <img src="../../assets/about-media/img3.jpg" alt="photo">
            </div>
            <div class="group">
                <img src="../../assets/about-media/img6.jpg" alt="photo">
            </div>
            <div class="group">
                <img src="../../assets/about-media/img5.jpg" alt="photo">
            </div>
        </div>
    </div>
    <div class="description">
        <div class="devs-socials">
            <h2>LinkedIn: <a href="https://www.linkedin.com/in/arve31/" id="devsLinkedIn"></a></h2>
            <h2>GitHub: <a href="https://github.com/arve31" id="devsGitHub"></a></h2>
            <h2>NetClub: <span id="DevsNetClub"></span></h2>
        </div>
        <div class="about-devs">
            <div class="cont">
                <div class="about-h1">
                    <h1>About</h1>
                  </div>
                    <div class="devs-soon"><h1 id="descrip"></h1></div>
                </div>
            </div>
    </div>
</div>
